.container-footer{
    width: 100%;
    padding:20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 260px;

}

.container-footer img{
    width: 100px;
}
@media only screen and (max-width: 560px) {

    .container-footer img{
        width: 30px;
    }
}